version: "3.7"

services:
  builder:
    build: alice/builder
#    volumes:
#      - ./build/boxfuse-sample-java-war-hello/target/hello-1.0.war:/usr/local/tomcat/webapps/hello-1.0.war

  prod:
    build: alice/prod
    ports:
      - "8080:8080"
    volumes:
      - ./build/boxfuse-sample-java-war-hello/target/hello-1.0.war:/usr/local/tomcat/webapps/hello.war
    depends_on:
      - builder
